In [327]:
import pandas as pd                                     #For dataframes
import numpy as np                                      #Fast math function operations
import random                                           #Random seed
from sklearn.metrics import accuracy_score              #Measures accuracy of prediction/ not needed for Mozfest
from sklearn.model_selection import train_test_split    #Splits data into training and testing data (sets)
from sklearn.tree import DecisionTreeClassifier         #Runs Algorithm to make decision.

#For retrieving data
import requests

In [329]:
#Generating (fake-data for testing) sample responses.

#Option choices during activity
#letters = ["A","B","C","D"]
letters = [1,2,3,4]

#16 personality types.
personality_types=["Logician","Commander","Architect","Debater",\
                   "Advocate","Mediator","Protagonist","Campaigner",\
                   "Logistician","Defender","Executive","Consul",\
                   "Virtuoso","Adventurer","Entepreneur","Entertainer"]

options = open("data.csv","w+")
options.write("IoT1,IoT2,IoT3,IoT4,Personality\n")
for i in range(0,100):
    for j in range(0,5):
        if(j==4):
            options.write(random.choice(personality_types)+"\n")
        else:
            options.write(str(random.choice(letters))+",")
options.close()

In [330]:
#reading data file with responses and concerting into pandas Dataframe
optionData = pd.read_csv('./data.csv')
type(optionData)

pandas.core.frame.DataFrame

In [331]:
optionData.columns #checking for heading names.

Index(['IoT1', 'IoT2', 'IoT3', 'IoT4', 'Personality'], dtype='object')

In [332]:
optionData.head()#sample data

   IoT1  IoT2  IoT3  IoT4  Personality
0     2     3     1     2      Debater
1     4     2     2     4  Protagonist
2     4     4     4     1  Logistician
3     3     2     2     4    Architect
4     4     3     4     4  Entepreneur

In [333]:
#Y variable; Self asign personality
Y = optionData[["Personality"]].copy()

#X variable; the data from IoT devices
features = ["IoT1","IoT2","IoT3","IoT4"]#deciding features
X = optionData[features].copy()

In [334]:
Y.head()

   Personality
0      Debater
1  Protagonist
2  Logistician
3    Architect
4  Entepreneur

In [335]:
X.head()

   IoT1  IoT2  IoT3  IoT4
0     2     3     1     2
1     4     2     2     4
2     4     4     4     1
3     3     2     2     4
4     4     3     4     4

In [336]:
#Whole data set used for training
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0, random_state=324)

In [337]:
#Use decision Tree algorithm to train ML model, greater max_leaf_nodes = greater accuracy.

#Create ML model
personality_classifier = DecisionTreeClassifier(max_leaf_nodes=25, random_state=0)
#Train model with our data, passing in IoT information and personality infomation
personality_classifier.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=25,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [373]:
urlR = 'http://86.1.2.210:5010/upload'
dataSent = {'file': open('sending_data.csv','rb')}
rR = requests.post(urlR, files=dataSent)

In [374]:
urlW = 'http://86.1.2.210:5010/download-file/'
rW = requests.get(urlW, allow_redirects=True)
open('got_data.csv', 'wb').write(rW.content)

data_points = pd.read_csv('./got_data.csv')
data_points.head()

   IoT1  IoT2  IoT3  IoT4
0     1     3     1     4

In [375]:
predictions = personality_classifier.predict(data_points)

In [376]:
predictions[0]

'Logistician'